@charset "UTF-8";

/* --------------------------------------------------------
  media query
--------------------------------------------------------- */
// コンテナサイズ
$container_size: 1260px;
$pc: $container_size;
$tab: 768px;
$sp: 460px;

// メディアクエリ
$mq_xl: 'screen and (min-width: #{$pc + 1px})';
$mq_pc: 'screen and (min-width: #{$tab + 1px})';
$mq_tab: 'screen and (max-width: #{$tab})';
$mq_sp: 'screen and (max-width: #{$sp})';

/* --------------------------------------------------------
  colors
--------------------------------------------------------- */
$black: #333;
$silver: #f1f1f1;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  /*border-collapse: collapse;*/
  border-spacing: 0;
}

input[type="button"],
button {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;

  &::-webkit-search-decoration {
    display: none;
  }

  &::focus {
    outline-offset: -2px;
  }
}

@media #{$mq_tab} {
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img[src$=".svg"] {
  width: 100%;
}

* {
  box-sizing: border-box;
  word-break: break-all;
}

a {
  text-decoration: none;
  transition: .2s ease-in-out;

  @media #{$mq_pc} {
    &:hover {
      opacity: .8;
    }
  }

  @media #{$mq_tab} {
    &:active {
      opacity: .8;
    }
  }
}

a[href^="tel:"] {
  pointer-events: none;

  @media #{$mq_tab} {
    pointer-events: all;
  }
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;

  &::-webkit-search-decoration {
    display: none;
  }

  &::focus {
    outline-offset: -2px;
  }
}

video {
  max-width: 100%;
}

/* --------------------------------------------------------
  clearfix - utility
--------------------------------------------------------- */
.font-bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.cf {
  *zoom: 1;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.for-pc {
  @media #{$mq_pc} {
    display: block !important;
  }

  @media #{$mq_tab} {
    display: none !important;
  }
}

.for-sp {
  @media #{$mq_pc} {
    display: none !important;
  }

  @media #{$mq_tab} {
    display: block !important;
  }
}

$min:1;
$max:15;

@for $i from $min through $max {
  .mt-#{$i} {
    margin-top: #{$i * 1%};
  }

  .mr-#{$i} {
    margin-right: #{$i * 1%};
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 1%};
  }

  .ml-#{$i} {
    margin-left: #{$i * 1%};
  }

  .pt-#{$i} {
    padding-top: #{$i * 1%};
  }

  .pr-#{$i} {
    padding-right: #{$i * 1%};
  }

  .pb-#{$i} {
    padding-bottom: #{$i * 1%};
  }

  .pl-#{$i} {
    padding-left: #{$i * 1%};
  }
}